/* Estilos Gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}

.header {
  background-image: linear-gradient(90deg, #3a5c70, #c4c4c3);
  width: 100%;
  height: 80px;
}
.header .nav {
  display: flex;
  align-items: center;
  padding: 20px;
}
.header h1 {
  color: #ffff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.header input {
  background: #fff;
  border: 1px solid #ffff;
  border-radius: 10px;
  padding: 5px 5px;
  outline: none;
}
.btn {
  border: 1px solid #ffff;
  border-radius: 6px;
  padding: 10px 10px;
  color: #ffff;
  margin-left: 55px;
}

.btn:hover {
  border: 1px solid #7eb1cb;
}
.btn i {
  margin-right: 5px;
}

.subheader {
  background-image: linear-gradient(90deg, #c4c4c3, #60859b);
  height: 40px;
}

.nav-sub ul {
  display: flex;
  align-items: center;
  padding: 12px;
  justify-content: space-between;
}
/* conteudo */

.content_temp {
  margin-top: 60px;
}

.subtitulo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-align: center;
  color: #375c71;
}

.subtitulo::after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background: #375c71;
  margin: 6px auto 8px auto;
}

.card {
  height: 400px;
  margin-top: 20px;
  background-image: linear-gradient(90deg, #375c71, #81b4cf);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  color: #fff;
}

.card .status_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card .primary_list {
  height: 400px;
}
.card .primary_list,
.card .second_list {
  padding: 90px 0;
  margin-right: 10px;
}
.card .primary_list li,
.card .second_list li {
  margin-bottom: 40px;
  text-align: center;
}
.card .primary_list li span {
  text-transform: uppercase;
  font-style: italic;
  padding-right: 10px;
}

.card .grau_list {
  text-align: center;
  height: 400px;
}
.card .title_grau {
  padding-top: 30px;
  font-size: 96px;
  font-style: italic;
}

.card .city_grau {
  font-size: 22px;
  font-style: italic;
  text-align: center;
  margin-bottom: 70px;
}

.card .img {
  font-size: 96px;
  padding: 120px;
  height: 400px;
}

.btn-black {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 10px 10px;
  color: #fff;
  font-weight: bold;
}
.btn-black:hover {
  border: 1px solid #bbbbbb;
  color: #bbbbbb;
}
.noticias {
  margin-top: 60px;
}

.noticia-principal {
  margin-top: 20px;
  border-radius: 10px;
  transition: 1ms;
}

.titulo-principal {
  color: #000;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 162px;
}

.card-noticias {
  border-radius: 10px;
  margin-top: 40px;
}

.img-noticia {
  border-radius: 10px 10px 0 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.img-noticia:hover {
  opacity: 60%;
}

.titulo-noticias {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 115px;
}
footer {
  background-image: linear-gradient(90deg, #3a5c70, #c4c4c3);
  margin-top: 60px;
  height: 39px;
}

footer .text {
  text-align: center;
  color: #fff;
  padding-top: 10px;
}

/* RESPONSIVO */
